._box {
  height: 50px;
  width: 50px;
  background: red;
}
body {
  background: yellow;
  width: 100px;
}
.box {
  height: 50px;
  width: 50px;
  background: red;
  border: 20px dashed rgba(200, 200, 200, 0.5);
  padding-top: 20%;
  background: white;
  background-clip: padding-box;
}
