<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <style>
        .box{
            width:200px;
            height: 300px;
            border: 1px solid red;
            position: relative;
            line-height: 2;
        }
        .box1{
            border: 1px solid green;
            position: absolute;
        }
        .line{
            border:1px solid red;
        }
    </style>
</head>
<body>
    <div class="box">
        <div class="box1"><span class="line">辅导书雷锋精神大</span> 幅度</div>
    </div>

    <span style="position:relative;border:1px solid red;">
        我是<big style='font-size: 200%;border:1px solid green'>字号很大</big>的文字
    </span>
</body>
</html>