<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>clip</title>
    <style lang="">
        .box{
            width:200px;
            height:200px;
            border:10px solid #ff000040;
            padding:20px ;
            margin:30px;
            background:grey;
            background-clip:content-box;
        }
    </style>
</head>
<body>
    <div class="box"></div>
</body>
</html>