.flex-justify {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px 0
}

.control {
    margin: 10px 0
}

@font-face {
    font-family: 'iconfont';
   src: url(application/x-font-woff;charset=utf-8;base64,AAEAAAALAIAAAwAwR1NVQrD+s+0AAAE4AAAAQk9TLzJW7klZAAABfAAAAFZjbWFw71+8/QAAAfgA
   AAICZ2x5ZkDT/+wAAAQQAAAKfGhlYWQSHHGRAAAA4AAAADZoaGVhCFAD/AAAALwAAAAkaG10eCRb
   AAAAAAHUAAAAJGxvY2EIVAv4AAAD/AAAABRtYXhwARsCGAAAARgAAAAgbmFtZT5U/n0AAA6MAAAC
   bXBvc3QOLXS1AAAQ/AAAAGwAAQAAA4D/gABcBHIAAAAABHIAAQAAAAAAAAAAAAAAAAAAAAkAAQAA
   AAEAAMSQeGRfDzz1AAsEAAAAAADXRZbKAAAAANdFlsoAAP+ABHIDgAAAAAgAAgAAAAAAAAABAAAA
   CQIMAAgAAAAAAAIAAAAKAAoAAAD/AAAAAAAAAAEAAAAKAB4ALAABREZMVAAIAAQAAAAAAAAAAQAA
   AAFsaWdhAAgAAAABAAAAAQAEAAQAAAABAAgAAQAGAAAAAQAAAAAAAQQKAZAABQAIAokCzAAAAI8C
   iQLMAAAB6wAyAQgAAAIABQMAAAAAAAAAAAAAAAAAAAAAAAAAAAAAUGZFZABAAHjnXQOA/4AAXAOA
   AIAAAAABAAAAAAAABAAAAAPpAAAEcgAABAAAAAQAAAAEAAAABAAAAAQAAAAEAAAAAAAABQAAAAMA
   AAAsAAAABAAAAZIAAQAAAAAAjAADAAEAAAAsAAMACgAAAZIABABgAAAAEAAQAAMAAAB4NQLmFuZE
   5mjmdedd//8AAAB4NQLmFeZE5mjmdedd//8AAAAAAAAAAAAAAAAAAAABABAAEAAQABIAEgASABIA
   AAABAAIABAAHAAMABgAFAAgAAAEGAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
   AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
   AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAABAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
   AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
   AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAwAAAAA
   AHAAAAAAAAAACAAAAHgAAAB4AAAAAQAANQIAADUCAAAAAgAA5hUAAOYVAAAABAAA5hYAAOYWAAAA
   BwAA5kQAAOZEAAAAAwAA5mgAAOZoAAAABgAA5nUAAOZ1AAAABQAA510AAOddAAAACAAAAAAAAAB2
   AL4BGgFOAbQErgUQBT4ABQAA/+EDvAMYABMAKAAxAEQAUAAAAQYrASIOAh0BISc0LgIrARUhBRUX
   FA4DJyMnIQcjIi4DPQEXIgYUFjI2NCYXBgcGDwEOAR4BMyEyNicuAicBNTQ+AjsBMhYdAQEZGxpT
   EiUcEgOQAQoYJx6F/koCogEVHyMcDz4t/kksPxQyIBMIdwwSEhkSEowIBgUFCAICBA8OAW0XFgkF
   CQoG/qQFDxoVvB8pAh8BDBknGkxZDSAbEmGING4dJRcJAQGAgAETGyAOpz8RGhERGhF8GhYTEhkH
   EA0IGBoNIyQUAXfkCxgTDB0m4wAAAAADAAD/gARyA4AAEAAUAC4AAAEiLgI0PgIyHgIUDgIBIREh
   ByERPgMzMh4EMj4EMzIeAhcBqx40JhcXJjQ7NCYXFyY0Aqr7jgRycvxyESgrLxcdKCAcHyg5KSIj
   KzwrJEM6MBIBgBYnNDo0JhcXJjQ6NCcW/gAEAHL9QhgvJhkJDBAMCSIzOjMiLUdXKgAAAAAIAAD/
   vgPCA0IADwAVABkAHQAhACcAMQA0AAAFIS4BJxE+ATchHgEXEQ4BARUzJw4BNxczJzMXMyczFzMn
   Fy4BJxczFSERFBYzITI2NwENAQNS/V0zPQEBPTMCozI9AQE9/OCWSSQplktwS0tLcUtLS3BLvAE9
   M0sm/Mc9MwJYMz0B/c0BUv6uQgE9MwKjMj0BAT0y/V0zPQLtS7YKOEi8vLy8vLxxMz0BvCX+GDM9
   PTMBd7u8AAAAAQAA/4EDzQOAAB0AABMhESMuAScmBgcDFBYXMxUhPwEyNjcTLgEHDgEPASADrSoC
   Y0hHVwEBJCFf/fkBUwQ3BAEFai0sZw4qA4D+wwyuGQsFAfzZBDEGODkCHyIDFwIICAtsVgIAAAAG
   AAAAAAOIApQADwASABoAIwAxAD8AAAEhDgEVERQWFyE+ATURNCYBNRchJwcnDwERIQc+ATQmIgYU
   FiU1IyIGFREUFhczNSMRARUzMjY3ES4BJyMVMxEC8v4nERYWEQHZEBcX/hcCAdeZTHFyEQHZfR8q
   Kj4qKv6EMREWFhExMQKGMREWAQEWETExApQBFhH+KBEWAQEWEQHYERb+AQEBoUFpaRQBjOsBKj4q
   Kj4qtScXEP6VERYBKAFr/pQnFxABaxEWASj+lQAAAAAIAAD/ygO2A0AABAAFAAkAFQHeAfACCgIL
   AAABNBU0FRczIxcWAw4BBx4BFz4BNy4BFyYGBw4CIgcOAScmLwEuATcjPgE3Ni8BNhY2JicHBjcn
   FBYXDgEuAQcGHgEvAiYeARcuAScuASM/ATY1NiYnLgEnJhQHJyIOAQcOAwcGFh8BHgEGFxY+AS4B
   PwE2NCcuATYeAh8BFjI2NzYeAh8BFgYPAQYmBz4BFxYGFxYyNyM+ATc+ATc2HgInJgcGDwEGPgE3
   Jg8BBg8BDgIHBiIGFg4BBzcGBx4BBwYvASYGBw4BFx4BPgE3FgYHBhYzNzIeATcGHgE2FxY2NzYW
   MjYzFxYXMxYXFh8BHgEXDgEVFj8BDgE1FBYzNh8BHgEfAR4BDgIHBhYHDgIWDgEHNQ4BFQYPAgYm
   BicGFw4BJxYGBw4DFBcGBzYmIz4BNzU3JyY+AT8BPgEmLwEuAScmJyYyNyY3Nj8BNi4BBiciLgMj
   By4BJyYGLgEnLgIvAiYnIhYXFhcWJyYnFjQuAScuATc0NjUmJyYvASYvAT4BNxYXFh8BDgEmBgcX
   FiczMhY+ATcnJgc2FhcGFjYmJzYyFzY7ATUiJiM+AzcHBgcOAScmNjcjNjMXBhQHBg8BHgE3Iic2
   Nx4BFzIjFzYzNiY/AhYXByIvASY2NSYXJicmNzU0Jj8CNj8BNj8BPgE3FhUUBgcmJwHzqAYGAgKk
   vPoFBfm9u/sFBfldCxIKAwcJCgQODREKBwwFCAUKBA4DAgkRBgcLCQQNCAg3GQkCCQgCBwMPBAQH
   BAQBCQMKDgcJDgsQBgQCBAYCCwcTDAsFBAICBAoIDgMHIw4QCgUEBgMIBgYCAwcHAgMFDBQNBwIG
   AwoBAQkIBwcFCwgCCA4PJAMGFAUBAwICCwgDBwUEAQQCBgYGCQEWEwsKCgYDCQQIBgwFBAYDBgQD
   AgUCAwQMBAMJBAIFAgoGCgoeDhEUCAQRDwkHDAoCAgYECQQEAgIGAgwOBgoDCggFCQYGBwMFCBMP
   BgYOBg4BAQcCBwkBCQUCBAYLBg4GDwkIAggNBAIBAgEGCgEPDAYCAwIDCAsIBAwBAQQCEQ8BCgQC
   AQMJBRYWAgIGAgcCAgIEBwgBAwICBgkPBwoGBQUEAwEBAwIFCQIECgcCBAoKBwkECgYGBAUKCw4G
   DA0IBQwJBQkBAwEJCQoNEAwECAoCDQgBAgEJAgIBBwYYIE8vAgEFBQsBEA8RBgwHAR8FDgQBAgQC
   AgYKCAcGCwkGBwsIAQQKAgYCBQEOGAUaDgwGCQYFCwUDKCs2AwIGChELIAYHBgsPOWcnAgFIAQEC
   AQIHAwwECAcECgICBQgNCAQBAwMIAwEEDwQBAwIHBAUHBgwIAdAEBAIBuwEBAiwF+b29+QUF+b29
   +akBAwUCBwMBCSUCAgkRBgwIBwMDCQMEBAUDCAMDAQkhCQwCBAgECQEKBA4BAQMDBwMEAQYEBQMF
   BgQDBQQEAgoBARsGAQUJAgQDBgsFEQ8EBQQJCQQCAQcEDQECBQkJBRMIBgMLBAUCBwMFChAIBQgH
   CgMGAgQUAwwEAgcECAIEBAUDCAIGBAcQAQULCAQBAQMFBAMECQMFCwEDCAgCBwYHCAQDBwYHEwMG
   CA4MBgEDHxIIBwUOAQESBwMEAQQHAgUQCAICAwYIAwMFBAICBQ0EAQMCDQgCCQICAgMDBAECAwsD
   BQICAQYDCg4NCQcGDgYJAgoCBgMHAgQJAgYDBw8LAgMBAgMPCQEHAwMCCwULBgQEAQIGBQcDCAgF
   DRAaDx8HFw4GCgcOCgcLCAULDAYGCwYNAwIBBggKCAECCQIDBAIJAwQNFQYNDQYECgMLDxIQExQE
   BQgFBAwgEgYJBgcIAgMDCwcSJz0TAwcGAQMIBQUBBwcECAQCCAIBAQIGBAQGCxAKBAkJBQIDCQcD
   AQYEAwQCCQQGDAIIAgIEAgQECAEGDAMIBQ48K5sDAgQBBgIaHwIFCgQFBAnGDAsIBw4GEAYICAQE
   DQMDCQQKAh4eGTQYBQgAAAAHAAAAAAMmAy0ACQANAB0ALQAxADUAOQAAASEiBgcVITUuAScXIz8B
   IyIGDwEGFjsBMjYvAS4BFyEiBhcTHgEXIT4BNxM2JgEjAzMTIxEzEyMRMwLc/kkfKQECSQEpnwvN
   C73DDxgCDwEREPMQEgIOAxd2/jEUGgIoAh4VAW0VHgMnAhn+okkYYZJhYXpJYgLLKh8YGB8qMU1N
   MRUPZhAUFBBmDxX0HBT+SRUbAQEbFQG3FBz+SgFV/qsBVf6rAVUAAAAABQAA/8ADiQNAAAUACQAN
   ABEAEgAAAQURBSURASURBSc3FwcBBRElEQIA/ngBiAGI/lT+7AEUwOTo6AE8/u4BEgNA2f4x2NkB
   zv3CjwGAhLh4gHD+y5YBh4j+hwAAABIA3gABAAAAAAAAABUAAAABAAAAAAABAAgAFQABAAAAAAAC
   AAcAHQABAAAAAAADAAgAJAABAAAAAAAEAAgALAABAAAAAAAFAAsANAABAAAAAAAGAAgAPwABAAAA
   AAAKACsARwABAAAAAAALABMAcgADAAEECQAAACoAhQADAAEECQABABAArwADAAEECQACAA4AvwAD
   AAEECQADABAAzQADAAEECQAEABAA3QADAAEECQAFABYA7QADAAEECQAGABABAwADAAEECQAKAFYB
   EwADAAEECQALACYBaQpDcmVhdGVkIGJ5IGljb25mb250Cmljb25mb250UmVndWxhcmljb25mb250
   aWNvbmZvbnRWZXJzaW9uIDEuMGljb25mb250R2VuZXJhdGVkIGJ5IHN2ZzJ0dGYgZnJvbSBGb250
   ZWxsbyBwcm9qZWN0Lmh0dHA6Ly9mb250ZWxsby5jb20ACgBDAHIAZQBhAHQAZQBkACAAYgB5ACAA
   aQBjAG8AbgBmAG8AbgB0AAoAaQBjAG8AbgBmAG8AbgB0AFIAZQBnAHUAbABhAHIAaQBjAG8AbgBm
   AG8AbgB0AGkAYwBvAG4AZgBvAG4AdABWAGUAcgBzAGkAbwBuACAAMQAuADAAaQBjAG8AbgBmAG8A
   bgB0AEcAZQBuAGUAcgBhAHQAZQBkACAAYgB5ACAAcwB2AGcAMgB0AHQAZgAgAGYAcgBvAG0AIABG
   AG8AbgB0AGUAbABsAG8AIABwAHIAbwBqAGUAYwB0AC4AaAB0AHQAcAA6AC8ALwBmAG8AbgB0AGUA
   bABsAG8ALgBjAG8AbQAAAAACAAAAAAAAAAoAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAkBAgEDAQQB
   BQEGAQcBCAEJAQoAAXgGdHVwaWFuBnNoaXBpbgV3ZW56aQxsdW5ib3hpYW9ndW8FZGlxaXUHc2hh
   bmNodQNiZC0AAA==) format("truetype"),
   /* src:url('./iconfont.ttf'); */
}

.iconfont {
    font-family: 'iconfont'!important;
    font-size: 16px;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale
}

.icon-tupian:before {
    content: "\3502"
}

.icon-shipin:before {
    content: "\E644"
}

.icon-wenzi:before {
    content: "\E615"
}

.icon-lunboxiaoguo:before {
    content: "\E675"
}

.icon-diqiu:before {
    content: "\E668"
}

.icon-shanchu:before {
    content: "\E616"
}

.icon-bd-:before {
    content: "\E75D"
}