<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>line-height</title>
    <style>
        .box{
            border:1px solid red;
            width:200px;
        }
        .item1{
            line-height: 1em;
            height: 2em;
        }
        .item2{

        }
        .item3{

        }
    </style>
</head>
<body>
    <div class="box">
        <div class="item1">由大通房产提供</div>
        <div class="item2">消费就送10元饮品券</div>
        <div class="item3">截止时间:2018/05/01</div>
    </div>
</body>
</html>