<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>多行文本垂直居中</title>
    <style>
        .box{
            width:200px;
            height:150px;
            border:1px solid red;
            line-height: 150px;
        }
        .content{
            border:1px solid green;
            width:100px;
            display: inline-block;
            line-height:normal;
            margin:0 20px;
            vertical-align: middle;
        }
    </style>
</head>
<body>
    <div class="box">
        <div class="content">头号玩家真的很好看,下次一起去把</div>
    </div>
</body>
</html>