<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>vertical-align</title>
    <style>
        .box {
            line-height: 20px;
            width: 20px;
        }

        span {
            font-size: 24px;
        }

        .span {
            line-height: 60px;
            border: 1px solid red;
        }

        .icon {
            font-size: 0.8rem;
            color: lightblue;
            border: 1px solid;
            border-radius: 10px;
            padding: 2px;
            line-height: 1em;
            height: 1em;
            margin-right: 30px;
        }
    </style>
</head>

<body>
    <div class="box">
        <span>文字</span>
        <span></span>
    </div>
    <span class="span">span文字</span>
    <span class="icon">
                活动
    </span>
</body>

</html>