<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>viewport</title>
    <style lang="">
        body{
            overflow: hidden;
            
        }
        .box{
            background: gold;
            width:1080px;
            height: 1920px;
            transform-origin:top;
            transform: scale(0.5);
            margin:0 auto;
        }
    </style>
</head>
<body>
    <div class="box"></div>
</body>
</html>