<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>transition</title>
    <style lang="">
      .page{
          position: absolute;
          top:0;
          bottom: 0;
          right: 0;
          left:0;
      }
      .box{
          position: relative;
          width:300px;
          height:400px;
          border:1px solid red;
          /* overflow: hidden; */
      }
      .active{
        display: block !important;
      }
      .fade-enter{
           transform: translateX(-100%);
      }
      .fade-enter-active,.fade-leave-active{
        
          transition: all 2s ease;
      }
   
      .fade-leave-to{
            transform: translateX(100%);
      }
    </style>
</head>

<body>
    <div id="app" ></div>
    <template id='temp'>
        <div id="example-1">
            <button @click="cn">
              Toggle render
            </button>
            
              <div class="box">
                    <transition name="fade" >
                        <div class='page' v-if='activeIndex==index' v-for='(page,index) in pages' :key="index">
                                  <t :content='page.value'/>
                        </div>
                    </transition>
              </div>
        
          </div>
    </template>
    <template id="t">
            <transition 
            v-on:before-enter="beforeEnter"
            v-on:enter="enter"
            v-on:after-enter="afterEnter"
           
          
            v-on:before-leave="beforeLeave"
            v-on:leave="leave"
            v-on:after-leave="afterLeave"
           
             >
               <div >{{content}}</div> 
            </transition>        
    </template>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.5.16/vue.js"></script>
    <script>
            Vue.component('t',{
                template:'#t',
                props:["content"],
                methods:{
                    beforeEnter(el){
                        el.style.color = 'red';
                    },
                    enter(el,done){
                        el.style.opacity = 0.5;
                        done();
                    },
                    afterEnter(el){
                        el.style.color = 'blue';
                    },
                    beforeLeave(el){
                     //   el.style.color = 'linghtblue';
                    },
                    leave(el){
                      //  el.style.color = 'linghtred';
                    },
                    afterLeave(el){
                       // el.style.color = 'green';
                    }
                }
            });
            let vm=new Vue({
                template:'#temp',
                data:{
                    show:false,
                    pages:[
                        {
                            value:111111,
                            show:true
                        },
                        {
                            value:22222,
                            show:true
                        },
                        {
                            value:2323999,
                            show:true
                        }
                    ],
                    activeIndex:0
                },
                methods:{
                    transitionComplete(el){
                        debugger
                    },
                    before(el){
                        debugger
                    },
                    cn(){
                       let len=this.pages.length;
                     
                       this.activeIndex++;
                       let activeIndex=this.activeIndex;
                        
                        activeIndex>=len? this.activeIndex=0:'';
                        
                        console.log(this.activeIndex);
                        this.$nextTick(function(){
                            this.pages[this.activeIndex].show=true;
                        })
                    },
                  
                }
            });
            vm.$mount('#app');

    </script>
</body>

</html>